@import '../variables';

.single-page {
  @include normal-font;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $beige;
  min-height: 100vh;
  overflow-x: auto;
  h3 {
    font-weight: bold;
  }
  p {
    white-space: normal;
  }
  h5 {
    margin-block-end: 0px;
  }
  a {
    color: $black;
    &:hover {
      color: #888;
    }
  }
  .small {
    font-size: 0.83em;
    padding-right: 0.3em;
  }
  .muted {
    color: #888;
  }
  .colored {
    font-weight: normal;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
  article {
    margin: 30px;
    max-width: 500px;
  }
}